/**
 * @file
 * Visual styles for COVID-19-CHS's sticky footer.
 */
@media (min-width: 992px) {
  .sticky-footer-container {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    -ms-transition: all 0.6s;
    transition: all 0.6s;
    z-index: 100;
  }
  .sticky-footer-container.sticky-footer-container--fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .sticky-footer-container.slideToTop {
    -webkit-animation-name: fadeToTop;
    animation-name: fadeToTop;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeToTop {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }

    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeToTop {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }

    100% {
      opacity: 1;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
  }
  .sticky-footer-container.slideToBottom {
    -webkit-animation-name: fadeToBottom;
    animation-name: fadeToBottom;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeToBottom {
    0% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    100% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }
  @keyframes fadeToBottom {
    0% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    100% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }
}
.sticky-footer {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #707070;
}
.region--light-typography.sticky-footer {
  border-top-width: 0;
}
.collapsible-sticky-footer-trigger .chs-button {
  font-size: 22px;
  background-color: inherit;
  color: hsl(var(--chs-foreground-color));
  border-color: #707070;
  position: relative;
  top: 2px;
  padding: 12px 40px;
}
.collapsible-sticky-footer-trigger .chs-button:hover,
.collapsible-sticky-footer-trigger .chs-button:focus {
  color: hsl(var(--chs-foreground-color));
  border-color: hsl(var(--chs-foreground-color));
  padding-right: 40px;
  padding-left: 40px;
}
.collapsible-sticky-footer-trigger .chs-button:after,
.collapsible-sticky-footer-trigger .chs-button:hover:after,
.collapsible-sticky-footer-trigger .chs-button:focus:after {
  content: "";
  display: none;
}
.collapsible-sticky-footer-trigger .region--light-typography.chs-button,
.collapsible-sticky-footer-trigger .region--light-typography.chs-button:hover,
.collapsible-sticky-footer-trigger .region--light-typography.chs-button:focus {
  color: #ffffff;
  border-color: transparent;
}
.collapsible-sticky-footer-trigger .chs-button:focus {
  outline: 0px solid transparent;
}
.collapsible-sticky-footer-trigger .region--white-background.chs-button {
  background-color: #ffffff;
  border-bottom-color: #ffffff;
}
.collapsible-sticky-footer-trigger .region--default-background.chs-button {
  background-color: #ffffff;
  border-bottom-color: #ffffff;
}
.collapsible-sticky-footer-trigger .region--gray-background.chs-button {
  background-color: #f1f1f1;
  border-bottom-color: #f1f1f1;
}
.collapsible-sticky-footer-trigger .region--dark-gray-background.chs-button {
  background-color: hsl(var(--chs-foreground-color));
  border-bottom-color: hsl(var(--chs-foreground-color));
}
.collapsible-sticky-footer-trigger .region--black-background.chs-button {
  background-color: #000000;
  border-bottom-color: #000000;
}
.collapsible-sticky-footer-trigger .chs-button.collapsed .collapsible-sticky-footer__collapse-icon {
  display: inline-block;
}
.collapsible-sticky-footer-trigger .chs-button.collapsed .collapsible-sticky-footer__expand-icon {
  display: none;
}
.collapsible-sticky-footer-trigger .chs-button .collapsible-sticky-footer__expand-icon {
  display: inline-block;
}
.collapsible-sticky-footer-trigger .chs-button .collapsible-sticky-footer__collapse-icon {
  display: none;
}
